header{
    background-color: #1ABC9C;
    height: 90vh;
   
}
.home img{
    width: 20%;
}
.home h2{
    font-size: 40px;
    font-weight: 700;
}
.home .line::before {
    content: " ";
    width: 75px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 40%;
    left: 42%;
}

.home .line i {
    color: white;
}

.home .line::after {
    content: " ";
    width: 75px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 40%;
    right: 42%;
}

@media (max-width:768px){
    .home img {
            width: 68%;
    }
    .home h2 {
        font-size: 30px;
    }
    .home .line::before {
        content: " ";
        position: absolute;
        top: 40%;
        left: 55%;
    }
    .home .line::after {
        content: " ";
        position: absolute;
        top: 40%;
        right: 55%;
    }
}